# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# Supabase Credentials
VITE_SUPABASE_URL="https://lnxzkusbhidaqhhsxjtk.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_3RZcGzoDXliNivNsbgGHjw_1rmQgGFf"
VITE_SUPABASE_PROJECT_ID="lnxzkusbhidaqhhsxjtk"

# APP_URL: The URL where this applet is hosted.
APP_URL=""

# Google Maps Platform credentials
GOOGLE_MAPS_PLATFORM_KEY=""
VITE_GOOGLE_MAPS_API_KEY=""
